/* ínicio do projeto DEV-LINKS */

/*global configurations the cascatle sheets*/


* {

 /* usado para garantir que as margens e paddings serão respeitadas
 pelo navegador*/   

    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
 
}

/*pseudo-classe ultilizada para selecionar o elemento raiz do HTML
ou seja é usado para definir variáveis globais em css, podendo modificar
todo o comportamento da folha de estilos dependendo da classe selecionada.
*/

:root{

    --bg-color-url: url(./assets/bg-dark-mode-mobile.png);
    --text-color: white;

}

.light{

    --bg-color-url: url(./assets/bg-light-mode-mobile.png);
    --text-color: white;

}

body{

    background: var(--bg-color-url) no-repeat top center/cover;

    /*este comando serve para ajustar a altura de acordo com as medidas
    de largura e altura da tela asssim nunca ficara sobrando tela em
    branco*/
    
    height: 100vh;
}