/* ínicio do projeto DEV-LINKS */

/*global configurations the cascatle sheets*/


* {

 /* usado para garantir que as margens e paddings serão respeitadas
 pelo navegador*/   

    box-sizing: border-box;
    padding: 0%;
    
    
    
}

/*pseudo-classe ultilizada para selecionar o elemento raiz do HTML
ou seja é usado para definir variáveis globais em css, podendo modificar
todo o comportamento da folha de estilos dependendo da classe selecionada.
*/

:root{

    --bg-color-url: url(./assets/bg-dark-mode-mobile.png);
    --text-color: white;
    --surface-color:rgba(255,255,255,0.1);
    --stroke-color:rgba(255,255,255,0.5);
    --switch-bg-url: url(./assets/moon-stars.svg);
    --bg-social-color:rgba(255,255,255,0.1);

}

.light{

    --bg-color-url: url(./assets/bg-light-mode-mobile.png);
    --text-color: rgb(5, 5, 5);
    --surface-color: rgba(169, 122, 223, 0.5);
    --stroke-color: rgb(5, 5, 5);
    --switch-bg-url: url(./assets/sun.svg);
    --bg-social-color: rgba (255,255,255,0.5);
  

}

body{

    background: var(--bg-color-url) no-repeat top center/cover;

    /*este comando serve para ajustar a altura de acordo com as medidas
    de largura e altura da tela asssim nunca ficara sobrando tela em
    branco*/

    height: 100vh;
}



body *{

    font-family: 'Inter', sans-serif;
    color: var(--text-color);
  
}

#container{

    margin-top:100px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    height: 712px;
    width: 360px;
    
    
}

#profile{

    height: 200px;
    width: 360;
   
}

#avatar{
    
    background: url(./assets/dark-profile.png);
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 100px;
  

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

 
/*estilos das listas*/

ul a{
    display: flex;
    justify-content: center;
    padding: 18px 24px;
    text-decoration:none;
    text-align: center;
    font-size: 20px;
    font-weight: bold; 
    margin-top: 30px;       
}

ul a{

    backdrop-filter : blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: var(--surface-color);
    border : px solid var(--stroke-color);
    border-radius : 8px ;  
    
  }


ul a:hover{
    background-color: var(--surface-color);
    border : 1.5px solid var(--stroke-color);
    transition: background 0.2s;
}



/*estilos das listas*/


#links{

    margin-top: 60px;
   
  
}

#social-links a{

    display: inline-flex;

    padding: 11px;

    border-radius: 50px;
    font-size: 30px;
    text-decoration: none;
    margin-top: 40px;
    background-color: var(--bg-social-color);
  }

#social-links a:hover{
             
    display: inline-flex;
    font-size: 30px;
    border-radius: 50px;
    backdrop-filter : blur(4px);
    background-color: rgba(169, 122, 223, 0.5);
    border : 1px solid rgba(255,255,255,0.5);
    transition: background 0.2s;
          
}
           

footer {

    display:block;
    padding: 10px 0 ;
      
}


/*Switch*  button*/


#switch{
    
    position: relative;
    width: 60px;
    margin: 8px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background: white var(--switch-bg-url) no-repeat top center/cover;
    position: absolute;
    z-index: 1;
    
    
    transform: translateY(-10%);
    

}

.light #switch button {

    left: 55%;
    right: initial;
    

}




#switch span{
    display: inline-block;

    height: 24px;
    width: 64px;
    /* surface-color-dark-mode*/

    background:var(--surface-color);
    /* stroke-color-dark-mode*/
    border: 1px solid var(--stroke-color);
    border-radius: 9999px;
    backdrop-filter: blur(4px);

    -webkit-backdrop-filter: blur(4px);
}

